* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #c2b2f2;
  --secondary: #242629;
  --tertiary: #16161a;
  --white: #fffffe;
  --gray: #94a1b2;
}
body {
  background: var(--tertiary);
  font-family: "Poppins", sans-serif;
}
